__pycache__
*.pyc
.DS_Store

# data
data/evaluation/*
data/images/*
data/index/*
!data/evaluation/.gitkeep
!data/images/.gitkeep
!data/index/.gitkeep

# tmp
notebooks/
yolov8n-oiv7.pt
yolov8n.pt
src/preprocessing/object_detector.py
data/baseline/
data/detection/